Flask===2.2.2
Flask-Limiter==2.6.0
Flask-SQLAlchemy===2.5.1
Flask-Migrate==4.0.0
Flask-Script==2.0.6
SQlAlchemy==1.4.42
psycopg2==2.9.3
numpy==1.25.2
pandas==2.0.3
pydantic==2.1.1
python-dotenv==1.0.0
gunicorn==21.2.0
